{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' post.id %}">Update Post</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' post.id %}">Delete Post</a>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock content %}